$default-font-size: 1.6rem;

$color-white: #ffffff;
$color-black: #1b262c;
$color-red: #ed6663;
$color-blue: #0f4c81;
$color-orange: #ffa372;

$color-grey-light-1: #eee;
$color-grey-light-2: #f9f9f9;

$color-grey-dark-1: #999;

$color-black: #333;