.Dashboard {
    position: absolute;
    bottom: 0;
    // width: 30rem;
    // height: 30rem;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 1rem black;
    border-radius: .6rem;
    margin: 3rem;
    text-align: center;
    transition: all 2s;

    &.off {
        width: 4rem;
        height: 4rem;
    }

    &__section {
        &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light-1;
        }

        &:first-child {
            display: flex;
            padding: 2.4rem;
            font-size: 2.4rem;
        }

        & h1 {
            margin-left: 2rem;
            font-weight: bold;
        }

        &.grey {
            background-color: $color-grey-light-2;
        }
    }

    &__subtitle {
        text-align: left;
        padding: 2.4rem;
        font-size: 1.8rem;
        font-weight: bold;
    }

    &__data-group {
        height: 100%;
        display: grid;
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
        margin: 2.4rem;

        & .Data {
            flex: 0 0 25%;
        }
    }
}