.Dashboard {
    position: absolute;
    bottom: 0;
    width: 64rem;
    // height: 30rem;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 1rem black;
    border-radius: .6rem .6rem 0 0;
    margin-left: 3rem;
    text-align: center;
    transition: all 2s;

    &__toggle {
        // display: inline-block;
        position: absolute;
        text-align: center;
        background: white;
        height: 2rem;
        width: 8rem;
        right: 4rem;
        top: -2rem;
        border-radius: .6rem .6rem 0 0;
        
        &:focus {
            outline: 0;
        }
        // padding: 2rem;
    }

    &.off {
        // width: rem;
        height: 4rem;
    }

    &__section {
        &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light-1;
        }

        &:first-child {
            display: flex;
            font-size: 2.4rem;
        }

        & h1 {
            margin-left: 2rem;
            font-weight: bold;
        }

        &.grey {
            background-color: $color-grey-light-2;
        }
    }

    &__subtitle {
        text-align: left;
        padding: 2.4rem;
        font-size: 1.8rem;
        font-weight: bold;
    }

    &__data-group {
        height: 100%;
        display: grid;
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
        margin: 2.4rem;

        & .Data {
            flex: 0 0 25%;
        }
    }
}