.ProgressAnimation {
  display: inline-block;
  z-index: 1000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;

  &__group {
    //position: absolute;
    margin: 2.4rem;
    width: 6%;
    //top: 50%;
    //left: 50%;
    color: white;
    display: flex;
    justify-content: space-between;

    & div {
      z-index: 1200;
      //position: absolute;
      width: .6rem;
      height: .6rem;
      background-color: #fff;
      border-radius: 50%;
      animation: progress 1.2s linear infinite;
    }

    & div:nth-child(1) {
      animation-delay: 0s;
    }

    & div:nth-child(2) {
      animation-delay: -0.1s;
    }

    & div:nth-child(3) {
      animation-delay: -0.2s;
    }

    & div:nth-child(4) {
      animation-delay: -0.3s;
    }

    & div:nth-child(5) {
      animation-delay: -0.4s;
    }

    & div:nth-child(6) {
      animation-delay: -0.5s;
    }
  }

  @keyframes progress {
    0%,
    20%,
    80%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
}